

.footer {
    text-align: center;
    padding-bottom:20px;
    padding-top:10px;
    color:darkorchid;
}

form {
    text-decoration: none;
  
}

ul {
    list-style: none;
    padding-top:15px;
    text-align:center;
    padding-right:20px;
    padding-left:20px;
    font-size:large;
    color:white;
    text-align:center;
}

h1 {
    color: blueviolet;
    padding-bottom:8px;
    padding-top:10px;
    font-weight:900;
}


input {
    border-color:darkviolet;
    border-radius: 8px;
    border-style: solid;
    border-width: thick;
}
a {
    color:blueviolet;
    font-size:smaller;
}

  

.App {
    text-align: center;
    
    
}
.container {
    background-color: plum;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left:30px;
    padding-right:30px;
    margin-top:30px;
    max-width: 460px;
    border-style:outset;
    border-radius:10px;

}
.btn {
    color: white;
    background-color: blueviolet;
    border-radius: 8px;
    border-color: darkviolet;
    border-style: solid;
    font-weight:500;
    border-width:thick;
    margin-bottom:8px;
    margin-left:10px;
    text-combine-upright:all;
    padding:8px 10px 8px 10px;
}

